
@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --background: black;
  --font-color: black;
  --secondary-font-color: white;
  --secondary-background-color: white;
  --font-primary: "Faculty Glyphic", sans-serif;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  transition: all 0.3s;
}

body.light-theme {
  background: var(--secondary-background-color);
}

body.dark-theme  {
  background: var(--background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  box-shadow: 5px 5px 10px black;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#light nav { 
  background: var(--background);
}

#dark nav { 
  background: var(--secondary-background-color);
}

.reactSwitch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reactSwitch span {
  margin-right: 10px;
}

#light .reactSwitch {
  color: var(--secondary-background-color);
}

#dark .reactSwitch {
  color: var(--font-color);
}

.landingImageClass {
  width: 1000px;
  height: 500px;
}


/* IMG LOGO AND AVATAR */

.img-box { 
  display: flex;
}

.img-box div {
  font-weight: 800;
  margin-left: 30px;
  margin-top: 17px;
  font-size: 15px;
  line-height: 19.5px;
  color: var(--secondary-font-color);
}

#dark .img-box div {
  color: var(--font-color)
}

.img-box .loggedClass {
  top: -15px;
  display: flex;
  position: absolute;
  right: 15px;
}

.loggedClass div p {
  font-size: 18px;
}

.img-box .avatarImg {
  margin-top: 5px;
  margin-left: 25px;
  width: 73px;
  height: 59px;
  cursor: pointer;
  border-radius: 50%;
}

.img-box .logoImg {
  margin-left: 25px;
  margin-bottom: 1px;
  width: 122px;
  height: 67px;
  border-radius: 50%;
    margin-bottom: 1px;
    width: 122px;
    height: 67px;
    border-radius: 50%;
}

.loginBtnClass button {
  margin-right: 30px;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

#light .loginBtnClass button {
  background: var(--secondary-background-color);
  color: var(--font-color);
  border: 2px solid var(--font-color);
}

#dark .loginBtnClass button {
  background: var(--background);
  color: var(--secondary-font-color);
}

#dark .loginBtnClass button:hover {
  background: var(--secondary-background-color);
  color: var(--font-color);
  border: 2px solid var(--font-color);
}

#dark .loginBtnClass button:hover {
  background: var(--secondary-background-color);
  color: var(--font-color);
  border: 2px solid var(--font-color)
}

#light .loginBtnClass button:hover {
  background: var(--background);
  color: var(--secondary-font-color);
  border: 2px solid var(--secondary-font-color);
}

.loginContainer {
  font-size: 25px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 10px black;
  margin: 20px auto 40px auto;
}

.loginContainer h2 {
  font-size: 50px;
}

.loginContainer div {
  margin: 20px;
}

.loginContainer  h2{
  margin: 14px auto 28px auto;
}

#light .loginContainer {
  color: var(--secondary-font-color);
  background: var(--background);
  border: none;
}

#dark .loginContainer {
  color: var(--font-color);
  background-color: var(--secondary-background-color);
  border: 2px solid white;
}

.loginContainer input {
  border: 2px solid var(--font-color);
  color: var(--font-color);
}

.loginContainer button {
  margin-right: 30px;
  margin-bottom: 20px;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  font-weight: 700;
}

#light .loginContainer button {
  background: var(--secondary-background-color);
  color: var(--font-color);
}

#dark .loginContainer button {
  background: var(--background);
  color: var(--secondary-font-color);
}

#dark .loginContainer button:hover {
  color: var(--font-color);
  border: 2px solid var(--font-color);
  background: var(--secondary-background-color);
}

#light .loginContainer button:hover {
  color: var(--secondary-font-color);
  border: 2px solid var(--secondary-font-color);
  background: var(--background);
}


.loginContainer label {
  padding: 0 30px 0 0;
}

.loginContainer div {
  margin-top: 10px;
}

.loginContainer label {
  padding: 0 30px;
}

.loginContainer input {
  height: 30px;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
}

.loginContainer span {
  margin-left: 60px;
  font-size: 16px;
  color: indianred;
  font-weight: 700;
  margin-left: 93px;
  font-size: 18px;
}

/* SPINNER */

.spinner {
  position: absolute;
  width: 9px;
  height: 9px;
}

.spinner div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: #474bff;
  transform: rotate(calc(var(--rotation) * 1deg))
    translate(0, calc(var(--translation) * 1%));
  transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

@keyframes spinner-fzua35 {
  0%,
  10%,
  20%,
  30%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1.5%));
}
}

/* PRODUCTS */

.productsContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
}

.productsContent img {
  width: 200px;
  cursor: pointer;
}

.productsContent p:last-child {
  background-color: white;
  overflow: hidden;
  color: black;
}

#light .productsContent p:last-child {
  background-color: black;
  overflow: hidden;
  color: white;
}

.productsContent p:nth-child(2) {
  background-color: white;
  color: black;
  border-top: 1px solid black;
  padding: 10px;
}

#light .productsContent p:nth-child(2) {
  border-top: 1px solid black;
  background-color: black;
  color: white;
  padding: 10px;
}

.productsContent div {
  border: 2px solid white;
  margin: 15px;
  border-radius: 20px;
  width: 250px;
  overflow: hidden;
}

#light .productsContent div {
  border: 2px solid black;
  margin: 15px;
  border-radius: 20px;
  width: 250px;
  overflow: hidden;
}

.productsContent {
  margin-top: 50px;
}

#light .productsContent {
  color: var(--font-color);
}

#dark .productsContent {
  color: var(--secondary-font-color);
}

#dark .myProfileClass {
  color: var(--secondary-font-color);
}

#light .myProfileClass {
  color: var(--font-color);
}

.myProfileClass strong {
  padding-left: 30px;
}

.myProfileClass img {
margin: 0 auto;
}

.myProfileClass span {
  display: flex;
  justify-content: left;

  margin: 20px;

.myProfileClass p {
  padding: 10px;
}
}

.myProfileClass button {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  margin-top: 80px;
  font-weight: 700;
}

#light .myProfileClass button {
  color: var(--font-color);
  border: 2px solid var(--font-color);
}

#light .myProfileClass button:hover {
  color: var(--secondary-font-color);
  background: var(--background);
}

#dark .myProfileClass button {
  color: var(--font-color);
}

#dark .myProfileClass button:hover {
  color: var(--secondary-font-color);
  background: var(--background);
  border: 2px solid var(--secondary-font-color);
}

.starsClass {
  width: 30px;
  height: 30px;
}

.ratingClass {
  display: inline;

}
.progress-bar-container {
  position: relative;
  background: #ddd;
  height: 15px;
  width: 70%;
  top: -60px;
  left: 180px;
  margin: 10px 0;
}

.progress-bar-filled {
  position: absolute;
  height: 100%;
  background: blue;
  border: 2px solid var(--secondary-font-color)
}

.singleProductClass {
  margin: 70px auto;
}

#light .singleProductClass {
  color: var(--font-color);
}

#dark .singleProductClass {
  color: var(--secondary-font-color);
}

.singleProductClass p:nth-child(3) {
  text-align: center;
}

.singleProductClass p {
  padding: 29px;
  text-align: left;
  font-size: 25px;
  font-weight: 600;
}

.singleProductClass h2 {
  font-size: 45px;
  padding-top: 50px;
}

.singleProductClass p span {
  font-size: 20px;
  padding: 5px;
  text-align: left;
}

.singleProductClass span {
  position: absolute;
  left: 45%;
  text-decoration: underline;
}

.singleProductClass button {
  margin-right: 30px;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  font-weight: 700;
}

#light .singleProductClass button {
  background: var(--background);
  color: var(--secondary-font-color);
  border: 2px solid var(--secondary-font-color);
}

#dark .singleProductClass button {
  background: var(--secondary-background-color);
  color: var(--font-color);
}

#dark .singleProductClass button:hover {
  color: var(--secondary-font-color);
  border: 2px solid white;
  background: var(--background);
}

#light .singleProductClass button:hover {
  color: var(--font-color);
  border: 2px solid var(--font-color);
  background: var(--secondary-background-color);
}

/* DropDown menu */

.menu {
  position: absolute;
  top: calc(100% + 8px);
  right: 36px;
  width: 200px;
  min-height: 100px;
  background: var(--secondary-background-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: 300ms;
}

.menu::before {
  content: "";

  position: absolute;
  top: -10px;
  right: 14px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  z-index: -1;
}

#light .menu::before {
  background: #262bbd;

}

#dark .menu::before {
  background: var(--secondary-background-color);
}

.menu.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

#light .menu.active {
  background: var(--background);
}

/* menu links */

ul li {
  list-style: none;
}

.menu ul li:hover {
  background: #eee;
}

#light .menu ul li:hover {
  color: var(--font-color);
}

#dark .menu ul li:hover {
  background: var(--background);
  color: var(--secondary-font-color);
}

ul li {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  gap: 20px;
  font-weight: 400;
  cursor: pointer;
}

#light ul li {
  color: var(--secondary-font-color);
}

#dark ul li {
  color: var(--font-color);
}


/* PAGINATION */

.paginationClass span{
  font-size: 18px;
  margin-right: 10px;
}

#light .paginationClass span {
  color: var(--font-color);
}

#dark .paginationClass span {
  color: var(--secondary-font-color);
}

.paginationClass button {
  margin: 25px;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  font-weight: 700;
}

.paginationClass button:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
  opacity: 0.6;
}

#light .paginationClass button {
  background: var(--background);
  color: var(--secondary-font-color);
  border: var(--secondary-font-color);
}

#dark .paginationClass button {
  background: var(--secondary-background-color);
  color: var(--font-color);
}

#dark .paginationClass button:hover {
  background: var(--background);
  color: var(--secondary-font-color);
  border: 1px solid white;
}

#light .paginationClass button:hover {
  background: var(--secondary-background-color);
  color: var(--font-color);
  border: 2px solid var(--font-color);
}

/* SEARCH COMPONENT */

.searchComponent {
  position: relative;
}


.searchComponent input {
  margin: 70px 0 20px 0;
  width: 1100px;
  height: 50px;
  padding: 10px;
  padding-left: 50px;
  font-size: 18px;
  border-radius: 20px;
}

#dark .searchComponent input {
  color: var(--font-color);
}

#light .searchComponent input {
  border: 2px solid var(--font-color);
  color: var(--secondary-font-color);
}

.searchComponent input::placeholder {
  background-color: var(--secondary-background-color);
}

.searchComponent input::placeholder {
  color: var(--secondary-font-color);
}

#light .searchComponent input::placeholder {
  color: var(--font-color);
}

#dark .searchComponent input::placeholder {
  color: var(--font-color);
}

.searchIcon {
  height: 20px;
  position: absolute;
  top: 85px;
  left: 78px;
}


/* RESPONSIVE DESIGN */

@media (max-width: 431px) {
  body {
    width: 100vw;
  }

  .landingImageClass {
    width: 100%;
    height: 100%;
  }

  .img-box .logoImg {
    margin-left: 0;
  }

  .loginBtnClass button {
    margin-right: 0;
  }
  .searchIcon {
    left: 35px;
  }

  .myProfileClass strong {
    padding-left: 0;
  }
  .singleProductClass p  {
    padding: 20px;
  }

  .progress-bar-container {
    width: 45%;
    top: -52px;
    left: 157px;
  }

}

@media (max-width: 391px) {
  .img-box .logoImg {
    margin-left: 10px;
  }

  .loginBtnClass button {
    margin-right: 10px;
  }
  .searchIcon {
    left: 35px;
  }

  .progress-bar-container {
    width: 45%;
  z-index: 10;
  position: absolute;
  left: 43px;
  top: 107px;
  width: 15px;
}

.light-dark-mode {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.light-dark-mode:active {
  transform: scale(1.7);
}
}

/* NotSubmitPortal */

.notSubmitMainContainer {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.notSubmitContainer {
  width: 200px;
  height: 200px;
  background-color: var(--background);
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.notSubmitContainer .errorClass {
  width: 70px;
  height: 70px;
  margin: 40px auto 0 auto;
  color: red;
}

.notSubmitContainer p {
  margin: 10px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}

.notSubmitContainer .closeBtn {
  height: 20px;
  width: 20px;
  right: 20px;
  position: absolute;
  top: 20px;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .img-box .logoImg {
    margin-left: 0;
    width: 80px;
  }
  .reactSwitch span {
    display: none;
  }

  .light-dark-mode {
    margin-left: -57px;
  }

}